{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_poodll/cbcredentialspanel

    In page setup panel shown to administrators when the site has no Cloud Poodll API credentials.
    Lets them paste credentials in, copy credentials from another Poodll plugin on the site, or
    take a free trial without leaving their Moodle site.

    Example context (json):
    {
        "errormessage": "",
        "formaction": "https://mymoodle.com/lib/editor/tiny/plugins/poodll/cbsavecreds.php",
        "sesskey": "abc123",
        "returnurl": "https://mymoodle.com/lib/editor/tiny/plugins/poodll/view.php?id=2",
        "apiuserid": "tiny_poodll_cbapiuser",
        "apisecretid": "tiny_poodll_cbapisecret",
        "currentapiuser": "",
        "currentapisecret": "",
        "settingsurl": "https://mymoodle.com/admin/settings.php?section=tiny_poodll_settings",
        "foundcreds": false,
        "apiuserselector": "#tiny_poodll_cbapiuser",
        "apisecretselector": "#tiny_poodll_cbapisecret",
        "fetchcbpageurl": "https://mymoodle.com/lib/editor/tiny/plugins/poodll/fetchcbpage.php"
    }
}}
<div class="tiny_poodll_cbcredentialspanel card">
    <div class="card-body">
        <h3 class="card-title">{{#str}}cbsetupheading, tiny_poodll{{/str}}</h3>
        {{#errormessage}}
            <div class="alert alert-warning">{{{errormessage}}}</div>
        {{/errormessage}}
        <p>{{#str}}cbsetupintro, tiny_poodll{{/str}}</p>
        <p>
            {{#foundcreds}}{{#str}}cbsetupfound, tiny_poodll{{/str}}{{/foundcreds}}
            {{^foundcreds}}{{#str}}cbsetupnotfound, tiny_poodll{{/str}}{{/foundcreds}}
        </p>

        {{> tiny_poodll/cbmanagecreds }}

        <form action="{{{formaction}}}" method="post" class="mt-3">
            <input type="hidden" name="sesskey" value="{{sesskey}}">
            <input type="hidden" name="returnurl" value="{{returnurl}}">
            <div class="form-group">
                <label for="{{apiuserid}}">{{#str}}apiuser, tiny_poodll{{/str}}</label>
                <input type="text" class="form-control" id="{{apiuserid}}" name="apiuser"
                       value="{{currentapiuser}}" autocomplete="off" spellcheck="false">
            </div>
            <div class="form-group">
                <label for="{{apisecretid}}">{{#str}}apisecret, tiny_poodll{{/str}}</label>
                <input type="text" class="form-control" id="{{apisecretid}}" name="apisecret"
                       value="{{currentapisecret}}" autocomplete="off" spellcheck="false">
            </div>
            <button type="submit" class="btn btn-primary">{{#str}}cbsavecredentials, tiny_poodll{{/str}}</button>
        </form>

        <p class="mt-3 mb-0">
            <a href="{{{settingsurl}}}">{{#str}}cbgotosettings, tiny_poodll{{/str}}</a>
        </p>
    </div>
</div>
