{{< core/modal }}
{{$title}}The widget pane man{{/title}}
    {{$body}}
<form class="tiny_poodll_form" id="{{elementid}}_tiny_poodll_form">
    <div class="root tab-content">
      <div>Widget content Goes Here</div>
    </div>
</form>
    {{/body}}
    {{$footer}}
        <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}} cancel {{/str}}</button>
    {{/footer}}
{{/ core/modal }}